# Ignore Gradle project-specific cache directory
.gradle

# Ignore Gradle build output directory
build
*/build/

# Stuff so we don't get pwned by MS
minecraft.*.*.jar
loader/src/main/resources/extension.jar